.about {
  background-color: var(--secondary-bg);
  padding-top: 60px;
  padding-right: 58px;
  padding-left: 52px;
  padding-bottom: 42px;
  @media screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container {
  @media screen and (min-width: 480px) {
    width: 100%;
  }
}
.about__name {
  margin-bottom: 15px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  color: #fcfcfc;
  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.about__title {
  margin-bottom: 32px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 34px;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    letter-spacing: 0.06em;
  }
}
.about__pictures {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
.circle {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;

  box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
  @media screen and (min-width: 0px) {
    left: -55px;
  }
  @media screen and (min-width: 321px) {
    left: -30px;
  }
  @media screen and (min-width: 479px) {
    left: 40px;
  }

  @media screen and (min-width: 768px) {
    top: 32px;
    left: 0px;
    width: 335px;
    height: 335px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 39px;
    width: 490px;
    height: 490px;
  }
}
.about__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 280px;
  margin-top: 21px;
  display: inline;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
    margin-right: 32px;
    margin-top: 21px;
    width: 335px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 39px;
    width: 490px;
    box-shadow: none;
    background: none;
  }
}

.about__content {
  padding-top: 40px;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 336px;
    padding-right: 0;
    padding-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
    padding-right: 0;
    padding-left: 100px;
    padding-top: 172px;
  }
}
.about__paragraph {
  width: 100%;
  margin-bottom: 3px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    width: 334px;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    width: 363px;
  }
}
.about__text {
  margin-bottom: 8px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  text-align: center;
  color: var(--color-light);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.93;
  }
}

.about__rubric {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.about__btn {
  font-family: var(--primary-font);
  padding: 12px 34px;
  margin-top: 20px;
  margin: 0 auto;
  display: block;
  background: var(--accent-color);
  color: var(--accent-color-text);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: none;
  transition: color 250ms linear;
  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }
}
.about__btn:hover,
.about__btn:focus {
  background-color: var(--hover-color);
  color: var(--primary-text-color);
}
