.advantages {
  padding-top: 40px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg);
  @media screen and (min-width: 768px) {
    padding-top: 53px;
    padding-bottom: 556px;
    padding-left: 76px;
    padding-right: 76px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 686px;
  }
}
.advantages-list {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.advantages-list__item {
  width: 230px;
}
.advantages-list__item-first {
  display: inline-block;
  width: 230px;
  @media screen and (min-width: 768px) {
    min-width: 152px;
    margin-right: 80px;
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}
.advantages-list__item-first::before {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  content: '';
  background-image: url(/src/images/about/cow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/about/cow@2x.png);
  }
}
.advantages-list__item-second {
  display: inline-block;
  width: 230px;
  @media screen and (min-width: 768px) {
    min-width: 152px;
    margin-right: 80px;
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}
.advantages-list__item-second::before {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  content: '';
  background-image: url(/src/images/about/weight.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/about/weight@2x.png);
  }
}
.advantages-list__item-third {
  display: inline-block;
  width: 230px;
  @media screen and (min-width: 768px) {
    min-width: 152px;
    margin-right: 80px;
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}
.advantages-list__item-third::before {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  content: '';
  background-image: url(/src/images/about/ice-cream.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/about/ice-cream@2x.png);
  }
}
.advantages-list__number {
  margin-bottom: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  @media screen and (min-width: 768px) {
    font-family: 'Montserrat';
    font-size: 48px;
    color: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    color: #fcfcfc;
  }
}
.advantages-list__text {
  margin-bottom: 28px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;

  color: #fcfcfc;
  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fcfcfc;
  }
}
