@media screen and (max-width: 767px) {
  .contacts__representatives:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-absolute {
    position: absolute;
    width: 94vw;
    transform: translate(0, -105%);
  }
}

@media screen and (max-width: 480px) {
  .contacts-absolute {
    width: 91vw;
  }
}

@media screen and (max-width: 375px) {
  .contacts-absolute {
    width: 90vw;
  }
}

@media screen and (max-width: 320px) {
  .contacts-absolute {
    width: 88vw;
  }
}

.contacts-section {
  position: relative;
  background-color: #84a178;
  padding-bottom: 30px;
  padding-top: 100;
}

.contacts__representatives {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;

  background: #fcfcfc;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
  }
}

.contacts__container {
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__list {
  margin-bottom: 32px;
}

.contacts__item {
  display: inline-block;
  min-height: 16px;
  background: #f8d24e;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.contacts__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: #fcfcfc;
}

.contacts-group {
  margin-bottom: 12px;
}

.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts__address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--card-red);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
  }
}

.contacts-address-time__list {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;
}

.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ababab;
}

.contacts__time-space {
  margin-bottom: 8px;
}

.phone-link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mail-link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.phone-link__contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5px;
  color: #131313;

  &:hover,
  &:focus {
    color: #d6936d;
  }
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link__contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5px;
  color: #131313;

  &:hover,
  &:focus {
    color: #d6936d;
  }
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-contact_locations {
  background: #f8d24e;
  border-radius: 10px;
  width: 196px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28px;
  color: #131313;
  border: 0;
  cursor: pointer;
  display: block;
  padding: 12px 34px;
  align-self: center;
  margin: auto;

  &:hover {
    background: #0a8817;
    color: #131313;
  }
  &:focus,
  svg:focus {
    background: #0a8817;
    color: #fcfcfc;
    fill: #fcfcfc;
  }
  &:disabled {
    background: #ababab;
    color: #131313;
  }
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-contact-loc {
  position: relative;
  padding-right: 45px;
}

.contacts-btn-los {
  position: absolute;
  transform: translate(20%, -40%);
}

.button-contact-fra {
  position: relative;
  padding-right: 15px;
}

.contacts-btn-fra {
  position: absolute;
  transform: translate(25%, -43%);
}

.button-contact_Franchise {
  background: #84a178;
  border-radius: 10px;
  width: 196px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28px;
  color: #131313;
  border: 2px solid #f8d24e;
  cursor: pointer;
  display: block;
  align-self: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  &:hover,
  svg:hover {
    border: 2px solid #0a8817;
  }
  &:focus,
  svg:focus {
    border: 2px solid #0a8817;
    color: #fcfcfc;
    fill: #fcfcfc;
  }
  &:disabled {
    border: 2px solid #ababab;
    color: #131313;
  }
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 284px;
    padding-bottom: 40px;
  }

  .contacts__item {
    min-height: 28px;
  }

  .contacts__container {
    position: relative;
  }

  .contacts__category {
    font-size: 16px;
    line-height: 1.88;
    color: #131313;
  }

  .contacts__list {
    position: absolute;
    display: flex;
    width: 94vw;
    transform: translate(1%, -106%);
  }

  .contacts__representatives {
    flex-basis: calc((100% - 64px) / 3);
  }

  .button-list-contacts {
    display: flex;
    gap: 16px;
  }

  .button-contact_Franchise {
    margin-top: 0;
  }

  .button-list-contacts {
    justify-content: center;
  }

  .contacts__item {
    margin-bottom: 32px;
  }

  .contacts-address-time__list {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  .contacts__time-space {
    margin-bottom: 12px;
  }
  .contacts__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
  }
  .contacts__address {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
  }
  .contacts__time {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
  }
  .phone-link__contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
  }
  .mail-link__contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1024px) {
  .contacts__list {
    transform: translate(1%, -111%);
  }
  .contacts-section {
    padding-top: 506px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    width: 95vw;
    transform: translate(1%, -106%);
  }

  .contacts-section {
    padding-top: 506px;
    padding-bottom: 120px;
  }

  .contacts__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
  }

  .contacts__address {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
  }

  .contacts__time {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
  }

  .phone-link__contact {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
  }

  .mail-link__contact {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
  }
}

@media screen and (min-width: 1366px) {
  .contacts__list {
    width: 95vw;
    transform: translate(1%, -106%);
  }
}

@media screen and (min-width: 1440px) {
  .contacts__list {
    width: 95vw;
    transform: translate(1%, -106%);
  }
}
////Franchise/////

.franchise {
  padding: 28px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  min-height: 664px;
  border: 2px solid var(--accent-color);
  background: var(--primary-text-color);
  border-radius: 10px;
  background-color: var(--color-light);
}
.franchise__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--accent-color-text);
}
.franchise__description {
  font-family: var(--primary-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: var(--accent-color-text);
}
.backdrops.is-hidden .franchise {
  transform: translate(-50%, -50%) scale(0, 7);
}
@media screen and (min-width: 768px) {
  .franchise {
    padding: 32px 60px;
    width: 568px;
    min-height: 668px;
  }
  .franchise__title {
    font-size: 20px;
    line-height: 1.4;
  }
  .franchise__description {
    font-size: 16px;
    line-height: 1.38;
  }
}
