.customer-reviews {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .customer-reviews {
    background-image: url('../images/products/ice-cream-fon-mobile.png');
    padding-bottom: 420px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .customer-reviews {
    background-image: url('../images/products/ice-cream-fon-mobile@2x.png');
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .customer-reviews {
    padding-bottom: 380px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer-reviews {
    background-image: url('../images/products/ice-cream-fon-tablet.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .customer-reviews {
    background-image: url('../images/products/ice-cream-fon-tablet@2x.png');
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .customer-reviews {
    padding-bottom: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-reviews {
    background-image: url('../images/products/ice-cream-fon-desktop.png');
    padding-bottom: 200px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .customer-reviews {
    background-image: url('../images/products/ice-cream-fon-desktop@2x.png');
  }
}
.customer-reviews__img {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.customer-reviews__text {
  margin-bottom: 30px;
  display: flex;
  align-self: center;
  padding: 34px 29px;
  min-width: 280px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg);
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .customer-reviews__text {
    width: 404px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews__text {
    margin-bottom: 32px;
    width: 705px;
    padding: 29px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    border-radius: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews__text {
    width: 968px;
    padding-top: 39px;
    padding-bottom: 47px;
    padding-left: 109px;
    padding-right: 109px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
  }
}
.customer-reviews__name {
  margin-bottom: 12px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .customer-reviews__name {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.88;
  }
}
.slick-dots li button:before {
  width: 12px;
  height: 12px;
  color: #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 8px;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  width: 14px;
  height: 14px;
  color: var(--secondary-bg);
  background-color: var(--secondary-bg);
  border-radius: 8px;
}
.slick-dots {
  left: 0;
}
