.section {
  padding-top: 100px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .section {
    background-image: url('../images/products/ice-cream-fon-mobile.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section {
    background-image: url('../images/products/ice-cream-fon-mobile@2x.png');
  }
}

@media screen and (max-width: 1199px) {
  .section {
    background-image: url('../images/products/ice-cream-fon-tablet.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .section {
    background-image: url('../images/products/ice-cream-fon-tablet@2x.png');
  }
}

@media screen and (min-width: 1200px) {
  .section {
    background-image: url('../images/products/ice-cream-fon-desktop.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section {
    background-image: url('../images/products/ice-cream-fon-desktop@2x.png');
  }
}

.adv-main-image {
  position: absolute;
  min-width: 279px;
  top: -23px;
  left: 50%;
  transform: translate(-50%, 0);
}
.review__photo {
  margin: auto;
  margin-bottom: 32px;
  margin-top: 60px;
}
.review {
  position: relative;
  margin: auto;
  margin-bottom: 83px;
  padding: 40px 60px 20px 60px;
  min-width: 280px;
  background: var(--secondary-bg);
  border-radius: 10px;
}
.review__text {
  min-width: 157px;
  display: flex;
  align-self: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;

  color: var(--primary-text-color);
}
.line {
  position: absolute;
  width: 180px;
  height: 100%;
  background: repeating-linear-gradient(
    transparent 0px,
    transparent 30px,
    var(--primary-text-color) 10px,
    var(--primary-text-color) 31px
  );
}
.dot-box {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}
