.section-footer {
  padding-top: 2px;
  padding-bottom: 15px;
  background-color: var(--secondary-bg);
}

.caption {
  @media screen and (min-width: 768px) {
    width: 350px;
    margin-right: 82px;
  }
  @media screen and (min-width: 1200px) {
    width: 504px;
    margin-right: 330px;
  }
}
.caption__title {
  width: 232px;
  margin-bottom: 15px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    width: 350px;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--color-light);
  }

  @media screen and (min-width: 1200px) {
    width: 504px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
  }
}
.caption__main {
  width: 200px;
  margin-bottom: 40px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    width: 350px;
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
    color: var(--color-light);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.22;
    color: var(--primary-text-color);
  }
}
.media {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 285px;
    margin-bottom: 32px;
    margin-left: 420px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 680px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 110px;
    margin-bottom: 40px;
    margin-left: 880px;
  }
}
.media-link {
  line-height: 0;
}
.media-list-link {
  display: flex;
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  outline: none;
  transition: 500ms;
}
.media-list-icon {
  fill: var(--secondary-bg);
}
.media-list-link:hover .media-list-icon,
.media-list-link:focus .media-list-icon {
  fill: var(--color-light);
}
.contact {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: end;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}
.contact__text {
  margin-right: 3px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    margin-right: 5px;
    font-size: 14px;
    line-height: 186%;
    color: var(--accent-color-text);
  }

  @media screen and (min-width: 1200px) {
    margin-right: 3px;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}
.contact__tel {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 186%;
    color: var(--color-light);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}
.bottom__text {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #7a7a7a;

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    padding-top: 10px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}
.navigation {
  @media screen and (min-width: 768px) {
    margin-top: -150px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: -235px;
  }
}
.bottom {
  border-top: 1px solid #e1e1e1;
}
