.header {
  background-color: var(--secondary-bg);
}

@media screen and (max-width: 1199px) {
  .nav__item {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-svg {
  background-color: transparent;
  border: none;
  line-height: 0;
}

.logo__img {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-btn {
    background: #f8d24e;
    border-radius: 10px;
    width: 152px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28px;
    color: #131313;
    border: 0;
    cursor: pointer;
    display: block;
    padding: 12px 34px;
    align-self: center;
    margin: auto;

    &:hover {
      background: #0a8817;
      color: #131313;
    }
    &:focus,
    svg:focus {
      background: #0a8817;
      color: #fcfcfc;
      fill: #fcfcfc;
    }
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn {
    position: relative;
    padding-right: 45px;
  }

  .header-btn-svg {
    position: absolute;
    transform: translate(20%, -40%);
  }

  .header__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-svg {
    display: none;
  }

  .nav__list {
    display: flex;
    gap: 27px;
    align-items: center;
  }

  .nav__logo {
    margin-right: 259px;
  }

  .nav__item-link {
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--primary-text-color);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    &:hover,
    &:focus {
      color: #f8d24e;
    }
  }
}

@media screen and (min-width: 320px) and(max-width:1199px) {
  .mobile-menu__container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media screen and (min-width: 767px) {
    .mobile-menu__container {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 40px;
    }
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-bg);
    overflow-y: auto;
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    top: 15px;
    right: 20px;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .mobile-menu__close-btn {
      top: 25px;
      right: 35px;
    }
  }

  .logo-menu-position {
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0;
  }
  .mobile-menu__close-icon {
    fill: var(--color-light);
  }
  .mobile-menu__close-icon:hover,
  .mobile-menu__close-icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon,
  .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }

  .mobile-menu_list-nav {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;

    @media screen and (min-width: 767px) {
      padding-top: 140px;
    }
  }

  .mobile-menu_list-nav-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and(min-width:767px) {
    .mobile-menu_list-nav-item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .header-btn-menu {
      background: #f8d24e;
      border-radius: 10px;
      width: 152px;
      height: 42px;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.28px;
      color: #131313;
      border: 0;
      display: block;
      padding: 12px 34px;
      align-self: center;
      margin: auto;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin-top: 100px;
      align-self: center;

      &:hover {
        background: #0a8817;
        color: #131313;
      }
      &:focus,
      svg:focus {
        background: #0a8817;
        color: #fcfcfc;
        fill: #fcfcfc;
      }
    }
  }

  .header-btn-menu {
    position: relative;
    padding-right: 45px;
  }

  .header-btn-svg {
    position: absolute;
    transform: translate(20%, -40%);
  }

  @media screen and (min-width: 768px) {
    .header-btn-menu {
      display: none;
    }
  }

  .mobile-menu__list-nav-link {
    font-family: var(--primary-font);
    color: var(--color-light);
    font-family: Montserrat;
    font-style: 700;
    font-size: 32px;
    line-height: 1.22;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and(min-width:767px) {
    .mobile-menu__list-nav-link {
      font-style: 700;
      font-size: 48px;
      line-height: 100%;
    }
  }

  .mobile-menu__list-nav-link:hover,
  .mobile-menu__list-nav-link:focus {
    color: var(--accent-color-text);
  }
  .mobile-menu__list-contact-link {
    font-family: var(--primary-font);
    color: var(--title-text-color);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and(min-width:1200px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 319px) {
  .mobile-menu {
    display: none;
  }
}
