.header {
  background-color: var(--secondary-bg);
}

@media screen and (max-width: 1199px) {
  .nav__item {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1200px) {
    width: 1200;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn-svg {
  background-color: transparent;
  border: none;
  line-height: 0;
}

.logo__img {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-btn {
    background: #f8d24e;
    border-radius: 10px;
    width: 152px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28px;
    color: #131313;
    border: 0;
    cursor: pointer;
    display: block;
    padding: 12px 34px;
    align-self: center;
    margin: auto;

    &:hover {
      background: #0a8817;
      color: #131313;
    }
    &:focus,
    svg:focus {
      background: #0a8817;
      color: #fcfcfc;
      fill: #fcfcfc;
    }
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn {
    position: relative;
    padding-right: 45px;
  }

  .header-btn-svg {
    position: absolute;
    transform: translate(20%, -40%);
  }

  .header__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-svg {
    display: none;
  }

  .nav__list {
    display: flex;
    gap: 27px;
    align-items: center;
  }

  .nav__logo {
    margin-right: 259px;
  }

  .nav__item-link {
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--primary-text-color);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    &:hover,
    &:focus {
      color: #f8d24e;
    }
  }
}
