.hero {
  position: relative;
  height: 370px;
  padding-top: 40px;
  background-color: var(--secondary-bg);
}

.hero__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  //   width: 247px;
  text-transform: uppercase;
  text-align: left;
}

.hero__title-lable {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  //   width: 247px;
  text-transform: uppercase;
  display: block;
}

.hero__title {
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 200px;
  }

  @media screen and (min-width: 1200px) {
    width: 375px;
  }
}

.hero-info__link {
  display: block;
}

.hero-info {
  margin-top: 34px;
}

.hero__ice {
  position: absolute;
  width: 170px;
  height: 219px;
  bottom: -36px;
  right: 29%;
}

.hero__img {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero__text,
  .hero-list {
    display: none;
  }

  .hero-arow__link {
    display: none;
  }
}

.hero-info {
  display: flex;
  align-items: center;
}

.hero-info__link {
  background: transparent;
  border-radius: 10px;
  width: 62px;
  height: 24px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.28px;
  color: #131313;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  display: block;
  padding: 11px 6px;

  &:hover {
    background: #0a8817;
    color: #131313;
  }

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-info__link-text {
  border: none;
  width: 62px;
  height: 24px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.28px;
  text-decoration: underline;
  color: var(--accent-color);
  width: 82px;

  &:hover {
    color: var(--hover-color);
    background-color: transparent;
  }

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-info__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 479px) {
  .position-fon {
    background-image: url('../images/hero/frame-mobile.png');
    height: 50px;
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
  }
}

@media screen and(min-width:480px) and (max-width: 767px) {
  .position-fon {
    height: 50px;
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .position-fon {
    height: 67px;
    width: 100%;
    background-image: url('../images/hero/frame-tablet.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px),
  screen and (min-resolution: 192dpi) and (max-width: 479px),
  screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .position-fon {
    background-image: url('../images/hero/frame-mobile@2x.png');
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .position-fon {
    height: 67px;
    width: 100%;
    background-image: url('../images/hero/fon-brekpoint.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 768px) {
  .position-fon {
    background-image: url('../images/hero/fon-brekpoint@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .position-fon {
    background-image: url('../images/hero/frame-tablet@2x.png');
  }
}

@media screen and (min-width: 1200px) {
  .position-fon {
    height: 384px;
    width: 100%;
    background-image: url('../images/hero/frame-desktop.png');
    // padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .position-fon {
    background-image: url('../images/hero/frame-desktop@2x.png');
  }
}

.hero-list__span {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21px;
  letter-spacing: 4%;
  color: #131313;
}

.hero-list__span-white {
  display: block;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25px;
  color: var(--color-light);
  margin-top: 28px;
  text-align: right;
}

.hero__text {
  position: absolute;
  width: 150px;
  bottom: 50px;
  left: 215px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--primary-text-color);
}

.hero__icon {
  position: absolute;
  bottom: 30px;
  fill: var(--color-light);
}

@media screen and (min-width: 768px) {
  .hero-list__item {
    margin-left: auto;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .hero__img {
    position: absolute;
    bottom: 13px;
    left: 30px;
  }

  .hero {
    height: 370px;
    padding-top: 40px;
  }

  .hero-list {
    position: absolute;
    right: 30px;
    top: 50px;
    text-align: right;
  }

  .position-fon {
    position: absolute;
    bottom: 0;
  }

  .hero__ice {
    bottom: -42px;
    right: 12%;
    width: 270px;
    height: 343px;
  }
  .hero__title {
    font-size: 22px;
    line-height: 1.26;
  }

  .hero__title-lable {
    font-size: 22px;
    line-height: 1.26;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 10px;
    height: 510px;
  }

  .hero-list {
    right: 15px;
    top: 30px;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__title-lable {
    font-size: 32px;
  }
  .hero__text {
    bottom: 104px;
  }
  .hero__img {
    position: absolute;
    bottom: 13px;
    left: 30px;
  }

  .hero__ice {
    bottom: -75px;
    right: 11%;
    width: 484px;
    height: 590px;
  }

  .hero-info__link {
    width: 134px;
    height: 42px;
    padding: 12px 34px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
  }
  .hero-info__link-text {
    width: 154px;
    padding-right: 0;
    padding-left: 0;
  }

  .hero__img {
    bottom: 65px;
  }

  .hero-list__span {
    font-size: 46px;
    line-height: 1.22px;
  }

  .hero-list__span-white {
    font-size: 14px;
    line-height: 1.21px;
    color: var(--color-light);
  }

  .hero-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .hero-info__link-text {
    width: 154px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21px;
  }
}
@media screen and (min-width: 1300px) {
  .position-fon {
    background-repeat: no-repeat;
  }
}
