:root {
 --primary-font: 'Montserrat', sans-serif;
 --secondary-font: 'Seymour One', sans-serif;
 --primary-text-color: #fcfcfc;
 --accent-color-text: #000000;
 --secondary-text-color: #131313;
 --color-light: #ffffff;
 --primary-bg: #f5f5f5;
 --secondary-bg: #84a178;
 --card-green: #aec6a5;
 --card-yellow: #efd478;
 --card-red: #d6936d;
 --accent-color: #f8d24e;
 --hover-color: #0a8817;
 --none-active-color: #ababab;
}

