<section class="contacts contacts-section">
  <div class="contacts__container container">
    <h2 class="visually-hidden"><a id="contacts">Our contacts</a></h2>
    <ul class="contacts__list list">
      <li class="contacts__representatives contacts-absolute">
        <div class="contacts__representatives-container">
          <div class="contacts__item">
            <p class="contacts__category">CAFE</p>
          </div>
          <ul class="contacts-address-time list">
            <li class="contacts-address-time__list">
              <p class="contacts__title">Chicago</p>
              <p class="contacts__address">
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </p>
            </li>
            <li class="contacts-address-time__list">
              <div class="contacts-group">
                <p class="contacts__title">Monday - Friday</p>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </div>
              <p class="contacts__title">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="list contact-details-link">
            <li class="phone-link">
              <a class="link phone-link__contact" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="mail-link">
              <a
                class="link mail-link__contact"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__representatives">
        <div class="contacts__representatives-container">
          <div class="contacts__item">
            <p class="contacts__category">FOOD TRUCK</p>
          </div>
          <ul class="contacts-address-time list">
            <li class="contacts-address-time__list">
              <p class="contacts__title">Los Angeles</p>
              <p class="contacts__address">
                1003 Manhattan, Manhattan Beach, CA 90263, USA
              </p>
            </li>
            <li class="contacts-address-time__list">
              <div class="contacts-group">
                <p class="contacts__title">Monday - Friday</p>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </div>
              <p class="contacts__title">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="list contact-details-link">
            <li class="phone-link">
              <a class="link phone-link__contact" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="mail-link">
              <a
                class="link mail-link__contact"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__representatives">
        <div class="contacts__representatives-container">
          <div class="contacts__item">
            <p class="contacts__category">CAFE</p>
          </div>
          <ul class="contacts-address-time list">
            <li class="contacts-address-time__list">
              <p class="contacts__title">Nev York</p>
              <p class="contacts__address">
                10726 Sterling Pl, Brooklyn, New York 11222, USA
              </p>
            </li>
            <li class="contacts-address-time__list">
              <div class="contacts-group">
                <p class="contacts__title">Monday - Friday</p>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </div>
              <p class="contacts__title">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="list contact-details-link">
            <li class="phone-link">
              <a class="link phone-link__contact" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="mail-link">
              <a
                class="link mail-link__contact"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="button-list">
      <ul class="button-list-contacts list">
        <li class="button-list-contacts__contact">
          <button
            type="button"
            class="button-contact-loc button-contact_locations"
          >
            Our Locations
            <svg class="contacts-btn-los" width="15" height="15">
              <use href="./images/icons.svg#arrow-btn"></use>
            </svg>
          </button>
        </li>
        <li class="button-list-contacts__contact">
          <button
            type="button"
            class="button-contact-fra button-contact_Franchise"
          >
            Franchise
            <svg class="contacts-btn-fra" width="15" height="15">
              <use href="./images/icons.svg#arrow-btn"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
