<section class="customer-reviews section">
  <h2 class="visually-hidden">Costumer-reviews></h2>
  <div class="customer-reviews__slide container">
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-1.png    1x,
            ./images/customer/customer-1@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-1.png"
          alt="Customer 1"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="customer-reviews__name">Emily, Los Angeles</p>
    </div>
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-2.png,
            ./images/customer/customer-2@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-2.png"
          alt="Customer 2"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        I love eating popsicles on a hot day. Yours is always delicious. I
        recommend your cafe to everyone I know.
      </p>
      <p class="customer-reviews__name">Sam, Los Angeles</p>
    </div>
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-3.png    1x,
            ./images/customer/customer-3@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-3.png"
          alt="Customer 3"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <p class="customer-reviews__name">Diana, Chicago</p>
    </div>
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-4.png    1x,
            ./images/customer/customer-4@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-4.png"
          alt="Customer 4"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <p class="customer-reviews__name">Bryan, New-York</p>
    </div>
  </div>
</section>
