<section class="customer-reviews section">
  <h2 class="visually-hidden">Gallery</h2>
  <ul class="gallery__list">
    <li class="gallery__item">
      <picture
        ><source
          srcset="
            ./images/gallery/gallery-ice-cream1-desktop.jpg 1x,
            ./images/gallery/gallery-ice-cream1-desktop.jpg 2x
          "
          media="(min-width: 1200px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream1-tablet.jpg 1x,
            ./images/gallery/gallery-ice-cream1-tablet.jpg 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream1-mobile.jpg 1x,
            ./images/gallery/gallery-ice-cream1-mobile.jpg 2x
          "
          media="(max-width: 767px)" />
        <img
          class="gallery__image"
          src="./images/gallery/gallery-ice-cream1-desktop.jpg"
          alt="ice-cream image"
      /></picture>
    </li>
    <li class="gallery__item">
      <picture
        ><source
          srcset="
            ./images/gallery/gallery-ice-cream2-desktop.jpg 1x,
            ./images/gallery/gallery-ice-cream2-desktop.jpg 2x
          "
          media="(min-width: 1200px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream2-tablet.jpg 1x,
            ./images/gallery/gallery-ice-cream2-tablet.jpg 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream2-mobile.jpg 1x,
            ./images/gallery/gallery-ice-cream2-mobile.jpg 2x
          "
          media="(max-width: 767px)" />
        <img
          class="gallery__image"
          src="./images/gallery/gallery-ice-cream2-desktop.jpg"
          alt="ice-cream image"
      /></picture>
    </li>
    <li class="gallery__item">
      <picture
        ><source
          srcset="
            ./images/gallery/gallery-ice-cream3-desktop.jpg 1x,
            ./images/gallery/gallery-ice-cream3-desktop.jpg 2x
          "
          media="(min-width: 1200px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream3-tablet.jpg 1x,
            ./images/gallery/gallery-ice-cream3-tablet.jpg 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream3-mobile.jpg 1x,
            ./images/gallery/gallery-ice-cream3-mobile.jpg 2x
          "
          media="(max-width: 767px)" />
        <img
          class="gallery__image"
          src="./images/gallery/gallery-ice-cream3-desktop.jpg"
          alt="ice-cream image"
      /></picture>
    </li>
    <li class="gallery__item">
      <picture
        ><source
          srcset="
            ./images/gallery/gallery-ice-cream4-desktop.jpg 1x,
            ./images/gallery/gallery-ice-cream4-desktop.jpg 2x
          "
          media="(min-width: 1200px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream4-tablet.jpg 1x,
            ./images/gallery/gallery-ice-cream4-tablet.jpg 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            ./images/gallery/gallery-ice-cream4-mobile.jpg 1x,
            ./images/gallery/gallery-ice-cream4-mobile.jpg 2x
          "
          media="(max-width: 767px)" />
        <img
          class="gallery__image"
          src="./images/gallery/gallery-ice-cream4-desktop.jpg"
          alt="ice-cream image"
      /></picture>
    </li>
  </ul>
  <h2 class="visually-hidden">Costumer-reviews></h2>
  <div class="customer-reviews__slide container">
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-1.png    1x,
            ./images/customer/customer-1@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-1.png"
          alt="Customer 1"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="customer-reviews__name">Emily, Los Angeles</p>
    </div>
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-2.png,
            ./images/customer/customer-2@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-2.png"
          alt="Customer 2"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        I love eating popsicles on a hot day. Yours is always delicious. I
        recommend your cafe to everyone I know.
      </p>
      <p class="customer-reviews__name">Sam, Los Angeles</p>
    </div>
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-3.png    1x,
            ./images/customer/customer-3@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-3.png"
          alt="Customer 3"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <p class="customer-reviews__name">Diana, Chicago</p>
    </div>
    <div class="customer-reviews__box">
      <picture>
        <source
          srcset="
            ./images/customer/customer-4.png    1x,
            ./images/customer/customer-4@2x.png 2x
          "
        />
        <img
          loading="lazy"
          src="./images/customer/customer-4.png"
          alt="Customer 4"
          width="85"
          class="customer-reviews__img"
        />
      </picture>
      <p class="customer-reviews__text">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <p class="customer-reviews__name">Bryan, New-York</p>
    </div>
  </div>
</section>
