<section class="customer-reviews section">
  <h2 class="visually-hidden">Costumer-reviews></h2>
</section>
<div class="customer-reviews__slide container">
  <div class="customer-reviews__box">
    <picture>
      <source
        srcset="
          ./images/customer/customer-1.png    1x,
          ./images/customer/customer-1@2x.png 2x
        "
      />
      <img
        loading="lazy"
        src="./images/customer/customer-1.png"
        alt="Customer 1"
        width="85"
        class="customer-reviews__img"
      />
    </picture>
    <p class="customer-reviews__text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <p class="customer-reviews__name">Emily, Los Angeles</p>
  </div>
</div>
