<section class="section-footer">
    <h2 class="visually-hidden">Footer menu</h2>
    <div class="container">
        <div class="caption">
            <p class="caption__title">homemade ice cream made </p>
            <p class="caption__main">with passion</p>
        </div>
        <div class="navigation">
            <ul class="media">
                <li class="media-link">
                    <a href="https://github.com/"
                    target="_blank"
                    rel="noopener noreferrer"  class="media-list-link">
                    <svg class="media-list-icon" width="34" height="34">
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="media-link">
                    <a href="https://web.telegram.org/z/"
                    target="_blank"
                    rel="noopener noreferrer"  
                    class="media-list-link">
                        <svg class="media-list-icon" width="34" height="34">
                          <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                      </a>
                </li>
                <li class="media-link">
                    <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=1600506847&extra_1=s%7Cc%7C515922865595%7Ce%7Cfacebook%7C&placement=&creative=515922865595&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1600506847%26adgroupid%3D60825662376%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D1012839%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjw9suYBhBIEiwA7iMhNLfGwSHqVwU0NCo8tyCtsDzyhFyp5vtwRnM2TCpSJw0Em2PcjiFNvRoCc9QQAvD_BwE"
                    target="_blank"
                    rel="noopener noreferrer" 
                    class="media-list-link">
                        <svg class="media-list-icon" width="34" height="34">
                          <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                      </a>
                </li>
                    </ul>
                    <ul class="contact">
                        <li class="contact__text">Feel free to contact</li>
                        <li class="contact__tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</li>
                    </ul>
        </div>
        <div class="bottom">
            <p class="bottom__text"> © 2022 - IceCream. All Rights Reserved. </p>
        </div>
    </div>
    
</section>
