.ingredients-ice-cream {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 30;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 280px;
  height: auto;
  border: 2px solid var(--accent-color);
  background: var(--primary-text-color);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ingredients-ice-cream__title {
  margin-bottom: 10px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--secondary-text-color);
}
.ingredients-ice-cream__img {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .ingredients-ice-cream__img {
    width: 200px;
    height: auto;
  }
}
.ingredients-ice-cream__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 19px;
}

.ingredients-ice-cream__composition {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
}
.ingredients-ice-cream__item {
  position: relative;
  padding: 52px 10px 8px;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  animation: pulse 2000ms infinite;

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 3px;
    display: block;
    width: 43px;
    height: 43px;
    background: #9cbe8f;
    border: 2px solid #9cbe8f;
    border-radius: 40px;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  }
}

.ingredients-ice-cream__composition-g {
  position: absolute;
  top: 6px;
  left: 13px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .ingredients-ice-cream {
    padding: 32px 40px;
    width: 568px;
    height: auto;
  }
  .ingredients-ice-cream__list {
    gap: 15px;
  }
  .ingredients-ice-cream__item {
    width: 65px;
    height: 90px;
    padding-top: 61px;
    padding-bottom: 19px;
    padding-left: 15px;
    &::before {
      width: 53px;
      height: 53px;
      left: 4px;
    }
  }
  .ingredients-ice-cream__composition {
    font-size: 12px;
    line-height: 1.25;
  }
  .ingredients-ice-cream__composition-g {
    font-size: 12px;
    line-height: 2.33;
    top: 12px;
    left: 17px;
  }
}
.table__title {
  margin-bottom: 10px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--secondary-text-color);
}
.table {
  width: 240px;
  margin-bottom: 18px;
}

.table__row {
  display: flex;
  justify-content: space-between;

  &:nth-child(-n + 5) {
    margin-bottom: 6px;
  }
}

.table__desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .table {
    width: 488px;
  }
}
.modal-form__input {
  padding-left: 11px;
  margin-bottom: 10px;
  width: 100%;
  height: 42px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--card-green);
  border-radius: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 2px solid var(--accent-color);
  }
}
.modal-form__comment {
  padding-top: 11px;
  padding-left: 11px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 84px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--card-green);
  border-radius: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;

  &:focus {
    outline: none;
    border: 2px solid var(--accent-color);
  }
}
.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 34px;
  height: 42px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 10px;
  border: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--color-light);
    transform: scale(1.05);
    outline: none;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  }
  &:disabled {
    background-color: var(--none-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: var(--card-red);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 22px;
  height: 22px;
  padding: 0;
  border-radius: 50%;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--primary-text-color);
  }
  &:hover .modal-close-btn-icon,
  &:focus .modal-close-btn-icon {
    fill: var(--card-red);
  }
}
@media screen and (min-width: 768px) {
  .modal__close-btn {
    width: 30px;
    height: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 53, 53, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .ingredients-ice-cream {
  transform: translate(-50%, -50%) scale(0, 7);
}
